pyvista
indeterminatebeam
numpy>=1.19.2
sphinx>=3.3.1
sphinx_rtd_theme>=0.4.3
sympy>=1.10
sphinxcontrib-bibtex
plotly>=4.14.1
dash
dash-bootstrap-components<1
dash-core-components
dash-renderer
dash-table
gunicorn
dash-extensions==0.0.44
pytest
jupyter>=1.0.0
Werkzeug
APScheduler
pandas
nbformat>=4.2.0
# UI / export dependencies
termcolor>=2.0
kaleido==0.2.1
